<div class="ui-color-picker">
  <div class="left" style="width: 196px;">
    <div id="{{viewId}}"></div>
    <div id="{{viewId}}-slider" style="height: 18px;"></div>
    <div class="ui-color-cont">
      <div class="ui-color-warp">
        <div class="ui-bg-color-wrap">
          <div class="ui-bg-color-show" style="background-color: #fff;"></div>
        </div>
        <input id="model-input" class="ui-color-input" type="text" data-key-bind="keyup">
        <input type="button" class="ui-color-ok" style="" value="确定" />
      </div>
    </div>
  </div>
  <div class="left system-history-view" style="width: 190px;padding-left: 5px;">
    <div id="{{viewId}}-system" class="clearfix"></div>
    <div class="clearfix">历史操作</div>
    <div class="color-picker-history clearfix">
    </div>
  </div>
</div>
