<div class="form" style="background: #fff;padding: 20px;">
  <a href="javascript:;" id="ui-dialog-content" class="tool-tip" data-title="普通对话框">普通对话框</a>&nbsp;&nbsp;
  <a href="javascript:;" id="ui-dialog-module" class="tool-tip" data-title="模块对话框">模块对话框</a>&nbsp;&nbsp;
  <a href="javascript:;" id="ui-dialog-modal" class="tool-tip" data-title="模态对话框">模态对话框</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="javascript:;" id="ui-dialog-tip" class="tool-tip" data-title="提示对话框">提示对话框</a>&nbsp;&nbsp;
  <a href="javascript:;" id="ui-dialog-confirm" class="tool-tip" data-title="确认对话框">确认对话框</a>&nbsp;&nbsp;
</div>
