<div class="form" style="background:#fff;padding:20px;">
  <input type="text" id="model-item_check_normal" class="text" value="value_2" data-bind-type="keyup" style="width: 300px;margin-bottom:5px;">
  <br>
  <div id="ui-item-check-normal" class="clearfix" style="margin-bottom: 20px;"> </div>
  <input type="text" id="model-item_check_btn" value="value_2" data-bind-type="keyup" class="text" style="width: 300px;margin-bottom:5px;">
  <br>
  <div id="ui-item-check-btn" class="clearfix" style="margin-bottom: 20px;"> </div>
  <input type="text" id="model-item_check_radio" value="value_2" class="text" data-bind-type="keyup" style="width: 300px;margin-bottom:5px;">
  <br>
  <div id="ui-item-check-radio" class="clearfix" style="margin-bottom: 20px;"> </div>
  <input type="text" id="model-item_check_append" value="value_2,value_3,value_4" class="text" data-bind-type="keyup" style="width: 300px;margin-bottom:5px;">
  <br>
  <div id="ui-item-check-append" class="clearfix" style="margin-bottom: 20px;"> </div>
  <input type="text" id="model-item_check_checkbox" value="value_2,value_3" class="text" data-bind-type="keyup" style="width: 300px;margin-bottom:5px;">
  <br>
  <div id="ui-item-check-checkbox" class="clearfix" style="margin-bottom: 20px;"> </div>
  <br>
  <div class="ui-item-check-result">{{{itemCheckResult}}}</div>
</div>
