<div class="form" style="background:#fff;padding:20px;">
  <div id="ui-select">
    <input id="model-categoryId1" value="Category_00000000000000000087666" name="categoryId" type="text" class="text" style="width: 300px;margin-bottom:5px;" /><br>
  </div>
  <br>
  <div id="item-check">
  </div>
  <br>
  <br>
  <div id="ui-select-tree">
    <input id="model-categoryId2" value="Category_00000000000000000258116" name="categoryId" type="text" class="text" style="width: 300px;margin-bottom:5px;" /><br>
  </div>
  <div class="ui-select-result" bb-watch="selectResult" bb-render=".ui-select-result:html">{{selectResult}}</div>
</div>
