.farbtastic {
  position: relative;
}

.farbtastic * {
  position: absolute;
  cursor: crosshair;
}

.farbtastic,
.farbtastic .wheel {
  width: 195px;
  height: 195px;
}

.farbtastic .color,
.farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}

.farbtastic .wheel {
  background: url(img/color_picker/wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}

.farbtastic .overlay {
  background: url(img/color_picker/mask.png) no-repeat;
}

.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden;
  background: url(img/color_picker/marker.png) no-repeat;
}

.ui-color-picker-wrap {
  border: 1px solid $formBorder;
  margin-top: 4px;
}

.ui-color-picker {
  padding: 5px;
  overflow: hidden;
}

.ui-bg-color-wrap {
  width: 46px;
  height: 25px;
  float: left;
  border: 1px solid #dfdfdf;
  margin-right: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
}

.ui-bg-color-show {
  width: 100%;
  height: 100%;
}

.ui-color-warp .ui-color-input {
  border: 1px solid #dfdfdf;
  border-radius: 0;
  width: 45px;
  float: left;
  height: 17px;
  line-height: 20px;
  margin-right: 5px;
  padding: 4px 12px;
}

.ui-color-warp .ui-color-ok {
  float: left;
  width: 49px;
  cursor: pointer;
  height: 26px;
  border: 1px solid #dfdfdf;
  background-color: #efefef;
}

.ui-color-picker .noUi-horizontal .noUi-handle {
  width: 8px;
  height: 22px;
  left: -5px;
  overflow: hidden;
  top: -3px;
  border: 1px solid #9E9E9E;
}

.ui-color-picker .noUi-target {
  margin: 5px 0px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
}

.ui-color-picker .noUi-base {
  background: linear-gradient(to right, rgba(77, 118, 129, 0), rgb(77, 118, 129));
}

.ui-color-picker .item-check {
  float: left;
  margin: 2px;
  cursor: pointer;
  width: 22px;
  text-align: center;
  line-height: inherit;
  position: relative;
  border: 1px solid #E4E4E4;
  height: 22px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0px;
  border-radius: 50%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
}

.ui-color-picker .toggle {
  width: 100%;
  height: 100%;
}

.color-picker-min .system-history-view {
  display: none;
}

.color-picker-min .noUi-base {
  height: 100%;
}

.color-picker-min .ui-color-cont {
  height: 30px;
}

.color-picker-min .ui-color-cont .ui-color-warp {
  height: 100%;
}

.color-picker-min .ui-color-cont .ui-bg-color-wrap {
  height: 25px;
  width: 46px;
}

.color-picker-min .ui-color-cont .ui-bg-color-show {
  height: 100%;
  width: 100%;
}
.ui-color-picker-view{
  border: none;
}
