.bui-select {
  display: inline-block;
  margin-right: 5px;
  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  .button-group>.button:first-child,
  .uneditable-input,
  input,
  .dpl textarea {
    margin-left: 0;
  }
  .bui-select-input {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
  }
  input[type=password],
  input[type=text],
  select,
  textarea {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    padding: 4px;
    border: 1px solid #D0D0D0;
    vertical-align: middle;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .bui-select-input {
    margin-right: -1px;
  }
  .x-icon-normal {
    text-shadow: none;
    color: #333;
    background-color: #fff;
    border-color: #D0D0D0;
  }
  .x-icon {
    vertical-align: top;
    cursor: pointer;
    height: 22px;
    width: 22px;
    border-left: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0 3px 3px 0;
    display: inline-block;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    overflow: hidden;
    line-height: 22px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    border: 1px solid transparent;
    cursor: inherit;
  }
  .x-icon-normal {
    text-shadow: none;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border-color: #D0D0D0;
    border-left-color: #fff;
    .icon {
      font-size: 24px;
      color: #8F8F8F;
    }
  }
  .icon-xialasanjiao {
    @include ie7icon(\e618);
  }
}

.bui-picker {
  z-index: 2050;
}

.bui-overlay {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.bui-select-list {
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  background-clip: padding-box;
  overflow: auto;
  overflow-x: hidden;
  max-height: 200px;
  ul {
    margin: 10px 0;
  }
  .bui-list-item {
    display: block;
    padding: 0;
    color: #666;
    white-space: nowrap;
    cursor: pointer;
  }
  .item-active,
  .bui-list-item-selected {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #FF5241;
  }
  .bui-list-item-select-inner {
    padding: 3px 4px;
  }
  .bui-list-item-selected .bui-list-item-select-inner {
    color: #fff;
  }
  .bui-list-item-select:hover {
    text-decoration: none;
    color: #fff;
    background-color: #FF5241;
  }
  .bui-list-item-select:hover .bui-list-item-select-inner {
    color: #fff;
  }
}
