//全局样式
.item-check {
  float: left;
  margin-right: 2px;
  cursor: pointer;
  text-align: center;
  position: relative;
  line-height: normal;
}

.item-check .check-icon {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 14px;
  height: 14px;
  z-index: 1000;
  color: $formIconColor;
  opacity: 0.8;
  border-radius: 0;
}

.item-check .icon-ok {
  font-size: 12px;
  line-height: 12px;
}

.item-check.item-active .check-icon {
  display: block;
}

.item-check.item-active {}

.item-check .cd-r-cur-in-cnt {
  display: inline-block;
  width: 100%;
}

// 样式1
.ui-item-check-btn {
  .item-check {
    padding: 2px;
    border: 1px solid $formBorder;
  }
}

.ui-radio,
.ui-checkbox {
  padding-top: 4px;
}

// 单选项
.ui-item-check-radio {
  .item-check-text {
    vertical-align: middle;
  }
  .item-check {
    margin-right: 4px;
  }
  .item-check .toggle {
    padding-left: 18px;
    text-align: left;
  }
  .item-check .check-icon {
    left: 2px;
    top: 2px;
    border: 1px solid $formBorder;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    line-height: 12px;
    display: inline-block;
  }
  .item-check .check-icon .icon-ok {
    font-size: 12px;
    line-height: 12px;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    float: left;
    height: 100%;
    display: inline-block;
    text-indent: 0px;
  }
  .item-check.hover .check-icon {
    border-color: $formIconColor;
  }
  .item-check .icon-ok:before {
    content: "";
  }
  .item-check.item-active .icon-ok:before {
    content: "\e60f";
  }
}

.ie8 .ui-item-check-radio .item-check .check-icon {
  border-radius: 10px;
  behavior: url(pie/PIE.htc);
}

// 多选项
.ui-item-check-checkbox {
  .item-check-text {
    vertical-align: middle;
  }
  .item-check {
    margin-right: 4px;
    .toggle {
      padding-left: 18px;
      text-align: left;
    }
    .check-icon {
      left: 2px;
      top: 2px;
      border: 1px solid $formBorder;
      width: 12px;
      height: 12px;
      border-radius: 2px;
      display: inline-block;
      .icon-ok {
        font-size: 12px;
        line-height: 12px;
        margin-left: 0px;
        margin-top: 0px;
        display: inline-block;
        width: 100%;
        height: 100%;
        float: left;
      }
    }
    .icon-ok:before {
      content: "";
    }
  }
  .item-check.hover .check-icon {
    border-color: $formIconColor;
  }
  .item-check.item-active .check-icon {
    background: $formIconColor;
    color: #fff;
    border-color: $formIconColor;
    .icon-ok:before {
      content: "\e600";
    }
  }
}

.ui-item-check-radio,
.ui-item-check-checkbox {
  line-height: 18px !important;
  padding-top: 6px !important;
}
