.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 5px 0px;
  border-radius: 4px;
  height: 32px;
}

.pagination li {
  display: inline;
  height: 32px;
  line-height: 32px;
}

.pagination .bui-bar-item {
  float: left;
  margin: 0 0 5px;
}

.pagination li > a,
.pagination li > span {
  position: relative;
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  color: #999;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination .disabled > a,
.pagination .disabled > a:focus,
.pagination .disabled > a:hover,
.pagination .disabled > span,
.pagination .disabled > span:focus,
.pagination .disabled > span:hover {
  color: #999;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}

.pagination li:first-child > a,
.pagination li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination .active > a,
.pagination .active > a:focus,
.pagination .active > a:hover,
.pagination .active > span,
.pagination .active > span:focus,
.pagination .active > span:hover {
  z-index: 2;
  color: #fff;
  background-color: #FF5241;
  border-color: #FC3F2C;
  cursor: default;
}

.pagination .input-pageTo, .pagination .per_page_show {
  color: #999;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 6px 6px;
  text-align: center;
}

.pagination .button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: inherit;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 20px;
  padding: 4px 12px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #5390CC;
  background-color: #fff;
  border-color: #E0EEFF;
}

.pagination .button-info {
  color: #fff;
  background-color: #FF5241;
  border-color: #FC3F2C;
  &:hover {
    background-color: lighten(#FF5241, 10%)
  }
}
